
.main-container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

img,
h2 {
    align-items: center;
    align-self: center;
}

figcaption {
    font-style: italic;
    margin-top: 10px;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
figure {
    margin: 10px;
    font-size: 32px;
    font-family: "Nunito SemiBold", sans-serif;
    align-self: center;
}
.media-content {
    align-self: center;
}

.main-container h3 {
    font-size: 32px;
    font-family: "Nunito SemiBold", sans-serif;
    margin: 3px;
}